<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CMCS"
     connectionString="Data Source=LAPTOP-G5P391TH\Chelsea Solomons;
                       Initial Catalog=CMCS_DB;
                       Integrated Security=True;"
     providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
